<?xml version='1.0.1S' encoding='utf-8'?>
<widget id="com.feynmengames.dinoonsteroids" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dino on StEroiDs</name>
    <description>
        The classic Dino game, with a twist.
    </description>
    <author email="feynmengames@gmail.com" href="">
        Feynmen Games
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <preference name="orientation" value="landscape" />
    <!-- IMPT -->

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/angry-dino.png" /> 
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
